body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
  
  * {
    box-sizing: border-box;
  }

  @keyframes bg_animation{
    0%:{opacity: 0;}
    100%:{opacity: 1;}
  }
  
  .bg-image {
    /* The image used */
    background-image: url("pexels-pixabay-270557.jpg");
    
    /* Add the blur effect */
    filter: blur(4px);
    -webkit-filter: blur(4px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  @keyframes box-change{
     0% {width: 40%;} 
     100% {width: 80%;}
  }


  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    animation-name: box-change;
    animation-duration: 10s;
    animation-delay: -2s;
  }

  .bg-text button {
    border: 3px solid rgb(255, 255, 255);
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-align: center;
    cursor: pointer;
  }

  .bg-text button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }


  .interests_title {
      background-color: rgb(255, 255, 255);
  }
